PORT=5555
NODE_ENV=development

DB_CONNECTION=mysql
DB_HOST=localhost
DB_USER=esf_user
DB_PASS=StrongPassword123!
DB_NAME=esf_db_v2
DB_PORT=3309

JWT_SECRET="asjhaytfs754dyghgaewersdfsdf763hsdj"
JWT_EXPIRES_IN="7d"
CORS_ORIGINS=http://localhost:4444

